<article class="post">
  <div class="title">
    <a href="/post/{{id}}">
      <h2>{{title}}</h2>
    </a>

    <span>
      Posted by {{user.username}} on {{format_date created_at}}
    </span>
  </div>
      
  <p class="card-body">{{content}}</p>

</article>